body {
  margin: 0;
  font-family: 'Kanit';
  src: local('Kanit'), url(./fonts/Kanit-Light.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
